<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include ('partials/nav.ejs'); -%>
    <h1>About</h1>
  </body>
</html>
